body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: #1a1a1a;
}
.sub-header {
    text-align: center;
    font-size: 1.5em;
    color: #666;
}
.home-page {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.banner {
    width: 100%;
    height: 100%;
    background-image: url('../../Assets/Image/Library.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
.banner-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.banner-content h1 {
    font-size: 3em;
    margin: 0;
}
.banner-content p {
    font-size: 1.2em;
    margin: 10px 0;
}
.buttons {
    margin-top: 30px;
}
.button {
    padding: 15px 25px;
    margin: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
}
.button:hover {
    background-color: #b92626;
  }
.buttonn {
    background-color: #5bc0de;
    text-decoration: none;
}
.buttonn:hover {
    background-color: #138496;
  }
.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
.top-right a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}
.top-right a:hover {
    text-decoration: underline;
}
